.body {
  font-family: sans serif;
  height:100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.navbar li {
  padding-left:10px;
  display:inline;
}



.navbar li a {
  font-family:arial;
  font-size:small;
  color:#5f6368;
  text-decoration:none;
}
.navbar li a:hover {text-decoration: underline;}

.navleft {
  position:absolute;
  top:20px;
  left:10px;
}
.navright {
  position:absolute;
  top:20px;
  right:10px;  
  margin-right:27px;
}

.google_logo {
  padding-top: 109px;
}

.search_box {
  width: 560px; min-width:460px; height: 39px;
  border: solid 1px rgb(242,242,242);
  border-radius: 2px;
  padding:5px 8px 0px 16px;
}

input[name="search_text"] {
  font-size: 13px;
  background-color:transparent;
  font-family: arial;
  margin-top:-37px;
  padding-bottom: 50px;
  height:34px;
  width: 520px;
  min-width: 420px;
  border:none;
}

input[name="search_text"]:focus {
  outline: none;
  background-color: transparent;
}

#mic {
  width:15px;
  padding: 7px 3px 0 0;
  cursor: pointer;
  
}

.search_buttons {
  padding-top:18px;
  min-width:400px;
}

input[type="submit"] {
  background-color: rgb(242,242,242);
  font-size: 13px;
  font-weight: bold;
  border: solid rgb(242,242,242) 1px;
  border-radius: 2px;
  padding: 0px 16px;
  margin: 11px 4px;
  font-family: "arial";
  color: #757575;
  height: 36px;
  line-height: 27px;
}

input[type="submit"]:hover {
  border: solid black 1px;
  border-radius:2px;
  color:black;
  cursor:pointer;
}

input[name="getlucky"] { 
  margin-left: 10px;
}

.main {
  margin-top: 89px;
  font-family: arial;
}

.seasonal a {
  text-decoration:none;
}
a:visited {
    color: blue;
}

.seasonal {
  margin-bottom: 45;
  white-space:nowrap;
  font-size: 9pt;
  line-height:45px;
}

.seasonal img {
  position:relative;
  top:18px;
}

.footbar{
  display:block;
  position: relative;
  
  bottom:0px;
  width:100%; min-width:1007px;
  height:40px;
  background-color:rgb(242,242,242);
}

.footbar {
  min-width: 980px;
  display:block;
  position: absolute;
  left:0px;
  width:100%; min-width:1007px; 
  height: 40px;
  background-color:#f2f2f2;
}



.footbar a {
  color: #5f6368;
  text-decoration:none;
  font-family:arial;
  font-size:small;
  padding-left:27px;
  display:inline-block;
  line-height:40px;
}

.foot_left {
  margin: 0 !important;
}

.foot_right {
  float: right;
  padding-right:27px;
}

.footbar a:hover {
  text-decoration:underline;
}

